.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.codeContainer{
  display: flex;
  margin-top: 4rem;
}

.prepender{
  margin-right: 1rem;
  margin-top: 1rem;
}

.instructions{
  margin-top: 4rem;
  white-space: pre-line;
  text-align: center;
}

.marginBuffer{
    margin-top: 4rem;
}